@charset "UTF-8";


body{
    background-color: green;
    text-align: center;
    align-items: center;
}

p{
    text-align: justify;
}

main{
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: auto;
    margin: auto;
    max-width: 900px; 
}

footer{
    background-color: rgb(0, 51, 0);
}
footer > p{
    text-align: center;
    color: white;
}