body{
    background-color: aqua;
    font-size: 15pt;
}

header{
    text-align: center;
    color: white;
}

section{
    background: white;
    border-radius: 10px; /*borda aredondada*/
    padding: 10px; /*espaço dentro*/
    width: 500px;/*tamanho fixo*/
    margin: auto;/*centralizar na tela*/
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.365); /*Sombra em baixo*/
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
}